.card-map-aligner {
  margin-top: 25px;
}
#edit-card-button {
  background-color: transparent;
  border: 1px solid $button;
  height: fit-content;
  width: fit-content;
  color:$button;
  margin-left: 20px;
}

.show-from-to {
  width: 100%;
  color: $white;
  text-shadow: $text-shadow;
  h5 {
    text-shadow: none;
    color: $darker-white;
    font-size: 0.8rem;
  }
}
.show-card-container{
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  form {
    margin: 0 auto;
    width: 90vw;
  }
  color: $black;
}
.where-to {
  margin: $def-margin;
}
