.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: xx-large;
  line-height: 2rem;
  padding: 1%;
  color: $gogreen;
  transition: 0.2s ease;
}
.back-to-top:hover {
  color: $black;
}
