.featured-trips-container {
  margin-bottom: 3%;
}
.featured-trips-category-container {
  margin-top: 1%;
  padding: 1%;
  padding-top: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.featured-card-img-top {
  border-radius: 10px;
  object-fit: cover;
  height: 80vw;
  width: 80vw;
}
.feature-link {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $lighter-black;
    h3 {
      color: $lighter-black;
    }
  }
}
.featured-card {
  border-radius: $border-radius-sm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.3s ease;
}
.featured-card-body {
  width: 80vw;
  font-family: $body-font;
  a {
    text-decoration: none;
  }
  display: flex;
  flex-direction: column;
}
.featured-body-title {
  color:$black;
  font-size: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.1rem;
  margin: 0;
  white-space: nowrap;
}
.featured-body-type {
  color:$black;
  font-size: 1rem;
  margin-bottom: 0;
  white-space: nowrap;
  height: min-content;
  margin-top: 0.3rem;
}
.featured-card-text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h5 {
    color: $gray;
    font-size: 0.8rem;
  }
}
.mountains {
  display: none;
}
// tablets
@media screen and (min-width: 500px) {
  .mountains {
    display: inherit;
  }
  .featured-trips-container {
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
    margin-bottom: 3%;
    border: 1px solid #DEE2E6;
  }
  .featured-card {
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: fit-content;
    width: 27.5vw;
    overflow: hidden;
  }
  .featured-card-img-top {
    border-radius: 10px;
    object-fit: cover;
    height: 27.5vw;
    width: 27.5vw;
  }
  .featured-trips-category-container {
    margin-top: 1%;
    padding: 1%;
    padding-top: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }
  .featured-card-body {
    width: 27.5vw;
  }
}
// Average desktop
@media screen and (min-width: 1200px) {
  .featured-card-text h5 {
    font-size: 1.2rem;
  }
  .featured-body-title {
    font-size: 1.5rem;
  }
}
