.footer-container {
  margin-top: auto;
  width: 100%;
  h3 {
    color:$lighter-black;
  }
}
.foot-link {
  width:15%;
  margin: auto;
}
.footer-icon {
  margin: auto;
  width: min-content;
}
.copyright-box {
  background-color: $gray;
}
// tablets
@media screen and (min-width: 500px) {
  .foot-link {
    width:7.5%;
    margin: auto;
  }
}
// laptops
@media screen and (min-width: 992px) {
  .foot-link {
    width:4%;
    margin: auto;
  }
}
// bigger monitors
@media screen and (min-width: 1600px) {
  .foot-link {
    width:2%;
    margin: auto;
  }
}
