.home-cta-button {
  padding:2.5%;
  border-radius: $border-radius;
  text-align: center;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 56%;
  left: 25%;
  background-color: $gogreen;
  text-decoration: none;
  font-size: xx-large;
  color: $white;
}
.home-cta-button:hover {
  background-color: $hgogreen;
  color: $white;
}


.trip-btn-cust {
  text-decoration: none;
  background-color: $button;
  padding:10px;
  border-radius: 10px;
  color:$white;
  margin-bottom: 8px;
  margin-left: 8px;
}
