// container when closed
.navbar-tripselector {
  justify-content: space-between;
  background: $white;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: $body-font;
  transition: 0.3s ease;
}
// container on open
.navbar-offcanvas-open {
  background-color: $black;
  color: $white;
}
// 3 lines
.navbar-toggler {
  border: none;
  --bs-navbar-toggler-focus-width: 0;
}
.navbar-toggler-icon {
  background-image: url("menu-s.svg");
}
// brand logo
.navbar-logo {
  height: 100%;
  width: 120%;
  fill: $black;
}
// style on scrolldown
.hider {
  transform: translate3d(0px, -100%, 0px);
  transition: 0.3s ease;
}
// menu list items
.menu-item {
  background-color: transparent;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $light-blue;
    }
  }
}
// tablets onward text is larger
@media screen and (min-width: 500px) {
  .menu-item {
    a {
      font-size: x-large;
    }
  }
}
