
// 320px (eg: iPhone 4 & 5)	16px
// 768px (eg: iPad portrait)	18px
// 1024px (eg: iPad landscape)	19px
// 1280px	20px
// 1536px	21px
// 1920px	23px
// 2560px	25px

// Styles below are defined for mobile,
// only changed for larger viewports with @media

.navbar-tripselector {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: nowrap;
}

.navbar-tripselector .navbar-collapse {
  flex-grow: 0;
}
.navbar-logo {
  height: 100%;
}
#profile-text {
  padding-right: 15px;
}
#image_space {
  padding-right: 15px;
}
.navbar-text {
  font-family: $body-font;
  font-size: x-large;
}
.hdp-text {
  font-family: $body-font;
  font-size: medium;
}
.right-side-buttons-nav {
  margin-right: 1%;
}










// phones
// @media screen and (min-width: 320px) {
//   html {
//     h1 {
//       font-size: calc(24px + 6 * ((100vw - 320px) / 680));
//     }
//     font-size: calc(15px + 6 * ((100vw - 320px) / 680));
//   }
// }
// tablets
@media screen and (min-width: 500px) {
  html {
    h1 {
      font-size: calc(26px + 6 * ((100vw - 320px) / 680));
    }
    p {
      font-size: 16px;
    }
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }

}

// laptops
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

}
// normal desktop
@media screen and (min-width: 1200px) {
  .navbar-tripselector {
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-tripselector .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-tripselector .navbar-brand img {
    width: 40px;
  }
  #profile-text {
    padding-right: 15px;
  }
  #image_space {
    padding-right: 15px;
  }
  .navbar-text {
    font-family: $body-font;
    font-size: x-large;
  }
  .hdp-text {
    font-family: $body-font;
    font-size: medium;
  }
  .right-side-buttons-nav {
    margin-right: 1%;
  }
}

// bigger monitors
@media screen and (min-width: 1600px) {

}
