.show-banner {
  height:50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  vertical-align: middle;
  a {
    text-decoration: none;
    color:white;
  }
  h1 {
    text-align: center;
    margin: auto;
  }
}
// average desktop onward
@media screen and (min-width: 1200px) {
  .show-banner {
    height:70vh;
  }
}
// bigger monitors
@media screen and (min-width: 1600px) {
  .show-banner {
    height:60vh;
  }
}
