.city-journey-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  gap: 3vh;
  margin-bottom: 3vh;
}
.city-journey-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .activities-cont {
    display:flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: $gray;
    h5 {
      font-size: 1rem;
      border-bottom: 1px solid $lighter-black;
      padding-bottom: 1vh;
      color: $black;
    }
    strong {
      font-size: 1rem;
      color: $black;
    }
  }
  .city-journey-card-show {
    border-radius: 10px;
    box-shadow: 0px 0px 5px darkgrey;
    border-color: black;
    margin: 10px;
    display: flex;
    align-items: center;
    height: 230px;
  }
  .city-card-picture {
    border-radius: $border-radius-sm;
    height: 90vw;
    width: 90vw;
    object-fit: cover;
    object-position: center;
  }
  .city-journey-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    i {
      margin: 0;
      font-size: 1.2rem;
    }
  }
  .city-journey-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }


// tablets
@media screen and (min-width: 500px) {
// INPUT CODE HERE
}
// laptops
@media screen and (min-width: 992px) {
}
// normal desktop
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1200px) and (min-height:525px) {
}
// bigger monitors
@media screen and (min-width: 1600px) {
  .city-journey-card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px darkgrey;
    border-color: black;
    margin: 10px;
    display: flex;
    align-items: center;
    height: 420px;
    }
    .city-activities {
      display:none;
    }
    .city-journey-card-show {
    border-radius: 10px;
    box-shadow: 0px 0px 5px darkgrey;
    border-color: black;
    margin: 10px;
    display: flex;
    align-items: center;
    height: 230px;
    }
    .city-card-picture {
      height: 100%;
      object-fit: cover;
      max-width: 25%;
      margin-right: 5px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .city-journey-info{
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
    }
    .activities {
      display: flex;
      flex-direction: column;
    }
}
