.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: $border-radius-sm;
}
.category-item {
  width: 100%;
  margin-bottom: 8px;
  border-radius: $border-radius-sm;
}
.category-selector {
  position: absolute;
  transform: scale(0);
}
.category-selector + label {
  background-color: $white;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 28px;
  font-family: $body-font;
  text-align: center;
  border: 0.2px solid $black;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: $border-radius-sm;
}
.category-selector:checked + label {
  background-color: $mint;
  transition: 0.2s ease;
}
.category-selector:hover + label {
  background-color: $mint;
  transition: 0.2s ease;
}
// normal desktop
@media screen and (min-width: 1200px) {
  .category-selector + label {
    font-size: 1rem;
  }
}
// bigger monitors
@media screen and (min-width: 1600px) {
  .category-selector + label {
    font-size: 2rem;
  }
}
