#user-city-trip-banner {
  width:100vw;
  margin: 0;
  border-radius: 0;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("green-gradient-banner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $body-font;
}
.city-trip-text {
  color: $white;
}
